details {
    border: 1px solid rgb(255 255 255 / 0.15);
    border-left: none;
    border-right: none;
    overflow: hidden;
}

details i {
    margin-right: 0.5rem;
    transition: 0.4s;
}

details[open] i {
    transform: rotate(135deg);
}

details h3 {
    margin-left: 0.5rem;
}

details p {
    text-align: left;
    padding: 0.5rem 0 0 1rem;
    line-height: 1.5;
    white-space: pre-line;
}

details::details-content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, content-visibility 0.3s;
    transition-behavior: allow-discrete;
}

details[open]::details-content {
    height: fit-content;
    opacity: 1;
}

summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    font-size: 0.9rem;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
}

summary:hover {
    background: rgb(255 255 255 / 0.08);
}

.accordion {
    display: grid;
    margin-top: 1rem;
}

.accordion details {
    border-color: #a16ac04d;
    border-width: 1px;
}

.accordion details:not(:first-child) {
    border-top: none;
}

.accordion details p {
    padding-top: 0;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.accordion summary {
    color: var(--text);
    font-size: 13px;
}