.announce-bar {
    padding: if(media(width < 768px): 0.4rem 0; else: 0.5rem 0);
    background: var(--primary-gradient);
    color: var(--text-light);
}

.announce-bar *::selection {
    background-color: var(--light-gray);
}

.announce-bar-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: if(media(width < 768px): 1rem; else: 1.3rem);
    }

    span {
        font-size: if(media(width < 768px): 0.85rem);
        margin-left: 0.5rem;
        text-transform: uppercase;
    }
}