footer {
    background: var(--primary-gradient);
    padding: 1rem 0;
}

.footer-main {
    color: var(--text-light);
    padding: 1rem 4rem;
}

.footer-links {
    display: flex;
    gap: 4rem;
    margin-bottom: 4rem;
}

.footer-links img {
    height: 3rem;
}

.footer-links .footer-right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    h2 {
        margin-bottom: 1.5rem;
    }

    p {
        line-height: 1.5;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 1rem;
    }

    ul li a {
        color: var(--text-light);
        text-decoration: none;
        font-size: 0.9rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-disclaimer {
    font-style: italic;
    margin-bottom: 4rem;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    .follow-button {
        color: var(--text-light);
        background-color: var(--primary-accent-1);
        border: none;
        border-radius: 1rem;
        height: fit-content;
        padding: 0.5rem 0.8rem;
        font-size: medium;
        font-weight: bold;

        span {
            margin-left: 0.5rem;
        }
    }

    .social-links {
        list-style: none;
        display: flex;
        gap: 2rem;

        li a {
            text-decoration: none;
            color: var(--text-light);
        }
    }
}

.footer-bottom {
    color: var(--text-light);
    font-size: 0.75rem;
    border-top: 0.1rem solid var(--border);
    padding-top: 2rem;

    ul {
        display: flex;
        gap: 1rem;
        padding: 0;
        justify-content: center;
    }

    ul li {
        list-style: none;

        a {
            text-decoration: none;
            color: var(--text-light);
        }

        a:hover {
            text-decoration: underline;
        }
    }
}