.organic-vegan-section {
    flex-direction: row;
    justify-content: space-between;

    .organic-item img {
        margin-bottom: 1rem;
    }

    .organic-item h3 {
        font-size: 22px;
        color: var(--primary);
    }
}

@media (max-width: 768px) {
    .organic-vegan-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}