:root {
  --text: #08060d;
  --text-light: #ffffff;
  --bg: #ffffff;
  --border: #ffffff14;
  --border-text: #2a13381a;
  --highlight-text: #2a133833;
  --gray: #2a13380a;
  --light-gray: #ffffff33;
  --primary-accent-1: #6c3eb8;
  --primary-accent-2: #b57edc;
  --primary-accent-3: #8c7ab8;
  --primary-accent-4: #7b6b92;
  --secondary: #f7f2fa;
  --primary-gradient: linear-gradient(270deg, #6c3eb8 15%, #b57edc 85%);

  color: var(--text);
}

* {
  margin: 0;
  letter-spacing: 0.05rem;
  font-family: Barlow, sans-serif;
}

*::selection {
  background-color: var(--highlight-text);
}

body.no-scroll {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-family: 'Barlow Condensed', sans-serif;
}