@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --text: #08060d;
  --text-light: #ffffff;
  --bg: #ffffff;
  --border: #ffffff14;
  --border-text: #2a13381a;
  --highlight-text: #2a133833;
  --gray: #2a13380a;
  --light-gray: #ffffff33;
  --primary: #6c3eb8;
  --primary-2: #b57edc;
  --primary-3: #8c7ab8;
  --primary-4: #7b6b92;
  --secondary: #f7f2fa;
  --primary-gradient: linear-gradient(270deg, #6c3eb8 15%, #b57edc 85%);
  --secondary-gradient: linear-gradient(89deg, #f4d8f6 15%, #ffffff 85%);
  --bar-border: rgb(161 106 192 / 0.3);
  --bar-selected-border: rgb(161 106 192 / 1);

  color: var(--text);
  interpolate-size: allow-keywords;
}

* {
  margin: 0;
  letter-spacing: 0.05rem;
  font-family: Barlow, sans-serif;
}

*::selection {
  background-color: var(--highlight-text);
}

body.no-scroll {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-family: 'Barlow Condensed', sans-serif;
}

.button {
  display: block;
  width: fit-content;
  border: none;
  border-radius: 999px;
  background-color: var(--primary);
  color: var(--text-light);
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.purple {
  color: var(--primary);
}

.text-page {
  max-width: 720px;
  margin: auto;
  padding: 2rem 1rem;

  h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.75;
  }

  a {
    text-decoration: none;
    color: var(--primary);
  }

  a:hover {
    text-decoration: underline;
  }

  .no-margin * {
    margin: 0;
  }
}